/* CSS Document */

.header{border:medium;
position:relative;
height:200px;
width:100%
}
.mainBody {
	position: relative;
	height: 500px;
	width: 100%;
}
.footer {
	height: 120px;
	width: 100%;
	position:relative;
}
